.body{
    background-color: black;
}
.container{
    background-color: black;
}
.header{
    padding: 20px 30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo__titulo{
    color: white;
    font-size: 30px;
    font-family: 'DM Serif Display', serif;
    padding: 0 50px;
}
.nav__lista{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.nav__lista__itens{
    padding: 0 70px;
}
.nav__lista__links{
    color: white;
    font-family: 'roboto', serif;
    font-style: italic;
    font-size: 20px;
}
.main__titulo{
    color: white;
    font-size: 60px;
    max-width: 700px;
    font-family: 'DM Serif Text', serif;
    font-weight: 400;

    

}
.main, .propaganda, .depoimentos{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
    padding-right: 400px;
    
}
.main__banner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.main__titulo__destaque{
    box-shadow: 15px  rgb(255, 255, 255);
	background:white;
    color: black;
	display: inline;
	padding: 2px;
    border-radius: 40px;
    font-family: 'DM Serif Text', serif;
    font-style: italic;
}
.main__subtitulo__wrapper{
    margin-top: 150px;
    padding-left: 30px;
    max-width: 650px;
    width: 100%;
}
.main__subtitulo{
    color: white;
    font-family: roboto;
    font-weight: normal;
    font-size: 20px;
}

.main__button{
    margin-top: 70px;
    margin-bottom:150px ;
    height: 35px;
    width: 120px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}
.main__button--style{
    margin-top: 70px;
    margin-bottom:150px ;
    height: 35px;
    width: 170px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
}
.main__button--style--ajuste{
    margin-left: 50px;
}
.depoimentos__titulo{
    color: white;
    font-size: 70px;
    max-width: 700px;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: 400;
}
.foto__depoimento{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-right: 20px;
}
.nome__depoimento{
color: white;
font-size: 20px;
font-weight: bold;
}
.nome__subtitulo{
    color: white;
    margin-left: 59px;
}
.depoimento_wrapper{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.destaque__bg{

}